<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.sqlmap.mapper.UserMapper">
    <sql id="ALL_COLUMNS">
        id,
        name,
        email
    </sql>

    <sql id="COMMON_SELECT">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM t_user
    </sql>

    <select id="getInject" resultType="com.wu.sqlmap.model.UserModel">
        <include refid="COMMON_SELECT"/>
        WHERE name = '${name}'
    </select>
    <select id="getSafely" resultType="com.wu.sqlmap.model.UserModel">
        <include refid="COMMON_SELECT"/>
        WHERE name = #{name}
    </select>
</mapper>
